# SWIFT Research Dependencies
# fastchat
# torch
# transformers
# accelerate
# peft
# datasets
# evaluate
# scikit-learn
# numpy
# pandas
# matplotlib
# seaborn
# omegaconf
# hydra-core
# shortuuid
# human-eval
bayesian-optimization
matplotlib
numpy
datasets
